#__homebody {
    position: fixed;
    top: 52px;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: calc(100vh - 52px);
    overflow: auto;
    background-image: url(images/bbburst.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.__docsintro {
    text-align: center;
    padding: 52px;

}

.__docsintro h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    line-height: 1;
    color: #426191;
    filter: drop-shadow(2px 2px 2px #000);
}

.__docsintro p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    display: block;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    color: #777;
}

.__docsintro p+p {
    margin-top: 14px;
}

.__projectslist {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.__projectswrapper {
    margin: -16px;
}

.__projectswrapper::after {
    content: '';
    display: block;
    clear: both;
}

.__projectswrapper .__project {
    width: 33.33333%;
    float: left;
    padding: 16px;
}

.__projectswrapper .__project>a {
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    box-shadow: 0 0 2px #426291de;
    text-align: center;
    padding: 24px 18px 18px 18px;
    text-decoration: none;
    color: #a55f3d;
}

.__projectswrapper .__project>a:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.__projectswrapper .__project>a:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.__projectswrapper .__project>a .__projectlogo {
    height: 92px;
    width: 92px;
    object-fit: cover;
    display: inline-block;
}

.__projectswrapper .__project>a div {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.__projectswrapper .__project>a p {
    margin: 4px 0 0 0;
    color: #777;
    opacity: 0.6;
}
.__projectswrapper .__project>a span {
    color: #426191;
    text-transform: uppercase;
    display: block;
    margin: 18px 0 10px 0;
    font-weight: bold;
}