#__homebody {
    position: fixed;
    top: 52px;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: calc(100vh - 52px);
}

.__docsintro {
    text-align: center;
    padding: 52px;
    /* border-bottom: 1px solid rgba(255, 255, 225, 0.07); */
}

.__docsintro h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    line-height: 1;
    color: #426191;
}

.__docsintro p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    display: block;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    color: #777;
}

.__docsintro p+p {
    margin-top: 14px;
}

.__projectswrapper {
    margin: -10px;
}

.__projectswrapper .__project {
    width: 33.33333%;
    float: left;
    padding: 10px;
}

.__projectswrapper .__project>a {
    display: block;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.__projectswrapper .__project>a:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

.__projectswrapper .__project>a:active {
    background-color: rgba(255, 255, 255, 0.02);
}